<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Meals</title>
</head>
<body>
    <h1>Meals</h1>
    <ul>
        <% meals.forEach(meal => { %>
            <li>
                <a href="/meals/<%= meal.id %>"><%= meal.name %></a> - $<%= meal.price %>
            </li>
        <% }); %>
    </ul>
    <!-- A simple form to add new meals could also go here -->
</body>
</html>
